<h1>退会機能</h1>
<div class="container">
      <div class="row">
        <div class="col-md-10">
         <%= link_to "退会する", withdrow_path, method: :patch, data: { confirm: "本当に退会しますか？" } ,class: 'btn-danger' %>
         <%= link_to "退会しない", root_path,class: 'btn-primary'  %>
        </div>
      </div>
</div>
      