<h1>About</h1>
<div class="container">
    <div style="text-align: center">
        <p>ながのCAKEは全国発送可能なケーキ屋さんです。</br>
        お子様からお年寄りの方までお召し上がりいただけるよう、
        様々なバリエーションをご用意しております。</br>
        また、全国発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br>
        ぜひご注文ください。</p>
    </div>
    
    <div style="background-image: url(<%= asset_path "no_image.jpg" %>); width: 1200px; height: 500px;　background-position: center;　background-attachment: fixed;　background-repeat: no-repeat"></div>
</div>